title: Salvius the Robot

description: >
  Salvius is a robotic prototype designed for learning.
  The robot's design is centered around a comprehensive
  API which makes it possible to get up and running in
  mere minutes. Developers can easily experiment with
  machine learning and kinematics for humanoid robots.
  A wide selection of plug and play hardware additions
  can be installed as well. Salvius has been built using
  a variety of recycled materials, making it simple and
  inexpensive to start developing.

short_description: Salvius is an open-source humanoid robot built on a minimal budget using recycled materials.

# The subpath of your site, e.g. /blog/
baseurl: ""

# Base hostname & protocol for a site
url: https://salvius.org

email: gunthercx@gmail.com
google_analytics: UA-12573345-9
twitter_username: salviusrobot
github_username:  gunthercox
google_plus_username: gunthercox

permalink: /blog/:year/:month/:title/

collections:
  notes:
    output: true
  presentations:
    output: true
  spec:
    output: true

defaults:

  - scope:
      type: notes
    values:
      layout: paginated
      index_url: /notes/
      color_class: color-prestige

  - scope:
      type: presentations
    values:
      layout: presentation

  - scope:
      type: spec
    values:
      layout: page

  - scope:
      type: posts
    values:
      layout: post

meta_tags:
  - <meta name="google-site-verification" content="ONW7FjhOnQbl0qdKKOUYXBxf-4ERt8FfB30p6dl0WUQ" />
  - <meta content="https://salvius.org/images/main/succeed.jpg" property="og:image"/>
  - <meta content="https://salvius.org/images/main/first_snow.jpg" property="og:image"/>
  - <meta content="https://blog.salvius.org/2015/01/salvius-gives-thumbs-up-to-students-at.html" property="og:see_also"/>
  - <meta content="https://blog.salvius.org/2014/11/grinspoon-entrepreneurship-conference.html" property="og:see_also"/>
  - <meta name="twitter:card" content="summary_large_image">
  - <meta name="twitter:site" content="@salviusrobot">
  - <meta name="twitter:creator" content="@salviusrobot">
  - <meta name="twitter:title" content="A humanoid robot build using salvaged materials">
  - <meta name="twitter:image:src" content="https://salvius.org/images/main/succeed.jpg">
  - <meta property="og:type" content="product"/>
  - <meta property="og:price:amount" content="{{ page.price }}"/>
  - <meta property="og:price:currency" content="USD"/>
  - <meta property="og:availability" content="preorder"/>
  - <meta property="og:provider_name" content="Robot Store"/>
  - <meta property="og:brand" content="Salvius"/>
  - <meta name="msapplication-TileColor" content="#f15501"/>
  - <meta name="msapplication-square70x70logo" content="tiny.png"/>
  - <meta name="msapplication-square150x150logo" content="square.png"/>
  - <meta name="msapplication-wide310x150logo" content="wide.png"/>
  - <meta name="msapplication-square310x310logo" content="large.png"/>

markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

theme: bravissimo

plugins:
  - jekyll-sitemap

exclude:
  - "*.erb"
  - readme.md
  - Gemfile
  - Gemfile.lock
  - scripts
  - Dockerfile
  - docker-compose.yml
  - .dockerignore
  - .gitignore
  - .git
