<div class="col-sm-6">
    <div class="placeholder-unit">
        <hr/>
        YOUR<br/>
        AD<br/>
        HERE
        <hr/>
        <small>Find out more</small>
    </div>
</div>
<div class="col-sm-6">
    <h2>A Brief Advertisement</h2>
    <p>Before you continue, take a moment to check out this brief advertisement for something.</p>

    <h3>Attention advertisers and investors</h3>
    <p><big>
    This project has been made possible so far by generous contributions from
    a variety individuals. Consider buying a prominent place in this guide.
    The funds you contribute will be used to further the development of this project.
    </big></p>
    <p>
        Contact <a href="mailto:gunther@salvius.org">gunther@salvius.org</a> to find out more.
    </p>
</div>
