<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta content="{{ site.title }}" property="og:site_name"/>
    <meta content="http://salvius.org" property="og:referenced"/>

    <!-- Images that represent Salvius -->
    <meta content="http://salvius.org/images/main/succeed.jpg" property="og:image"/>
    <meta content="http://salvius.org/images/main/first_snow.jpg" property="og:image"/>

    <!-- Articles that represent Salvius -->
    <meta content="http://salviusrobot.blogspot.com/2015/01/salvius-gives-thumbs-up-to-students-at.html" property="og:see_also"/>
    <meta content="http://salviusrobot.blogspot.com/2014/11/grinspoon-entrepreneurship-conference.html" property="og:see_also"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@salviusrobot">
    <meta name="twitter:creator" content="@salviusrobot">
    <meta name="twitter:title" content="A humanoid robot build using salvaged materials">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}">
    <meta name="twitter:image:src" content="http://salvius.org/images/main/succeed.jpg">

    <meta content="{{ page.description }}" property="og:description"/>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:price:amount" content="{{ page.price }}"/>
    <meta property="og:price:currency" content="USD"/>
    <meta property="og:availability" content="preorder"/>
    <meta property="og:provider_name" content="Robot Store"/>
    <meta property="og:brand" content="Salvius"/>

    <meta name="msapplication-TileColor" content="#f15501"/>
    <meta name="msapplication-square70x70logo" content="tiny.png"/>
    <meta name="msapplication-square150x150logo" content="square.png"/>
    <meta name="msapplication-wide310x150logo" content="wide.png"/>
    <meta name="msapplication-square310x310logo" content="large.png"/>

    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="publisher" href="https://plus.google.com/+gunthercox"/>

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bmielhhjhgabhdjncbgbjhbjaohgeoeh"/>

	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/font-awesome.css"/>
    {% for css_name in page.extra_css %}
        <link rel="stylesheet" href="{{ css_name }}">
    {% endfor %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
    <link rel="shortlink" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
    <link rel="icon" type="image/png" href="icons/icon.png"/>
    <link rel="shortcut icon" href="/icons/favicon.ico"/>

    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png"/>
</head>
