<header itemscope itemtype="http://schema.org/ImageObject">
    <h2 class="hide" itemprop="name">{{ site.title }}</h2>
    <ul id="scene" class="no-space">
        <li class="layer" data-depth="0.00"><img src="/images/massmutual-background.png" alt="Salvius background"></li>
        <li class="layer" data-depth="0.10"><img src="/images/massmutual-table.png" alt="Salvius table"></li>
        <li class="layer" data-depth="0.40"><img src="/images/massmutual-salvius.png" alt="Salvius massmutual" itemprop="contentUrl"></li>
    </ul>
    <span class="hide" itemprop="author">Gunther Cox</span>
    <span class="hide" itemprop="contentLocation">Springfield MA, United States</span>
    <meta itemprop="datePublished" content="2014-11-08">
    <span class="hide" itemprop="description">Salvius traveled to the MassMutual Center today as a part of the Grinspoon Entrepreneurship Initiative.</span>
</header>
