<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="https://blog.salvius.org">
            <i class="fa-solid fa-rss" aria-hidden="true" style="color: #FF7800;"></i>
            Blog
        </a>
    </li>
    <!-- li>
        TODO: Add a link to the updates page in a different spot, or discontinue
        <a href="/updates/">
            <i class="fa-solid fa-rss" aria-hidden="true" style="color: #FF7800;"></i>
            Updates
            <sup style="color: #fbff6f">NEW</sup>
        </a>
    </li -->
    <li>
        <a href="/store/">
            <i class="fa-solid fa-bag-shopping" aria-hidden="true"></i>
            Store
        </a>
    </li>
    <li>
        <a href="/presentations/">
            <i class="fa-solid fa-university" aria-hidden="true"></i>
            Presentations
        </a>
    </li>
    <li>
        <a href="/tools/">
            <i class="fa-solid fa-wrench" aria-hidden="true"></i>
            Tools
        </a>
    </li>
    <li>
        <a href="https://github.com/gunthercox/Salvius" target="_blank">
            <i class="fa-brands fa-github" aria-hidden="true"></i>
            GitHub
        </a>
    </li>
</ul>
