<ul class="nav navbar-nav">
    <li>
        <a href="#meet-salvius">
            <i class="fa-solid fa-home" aria-hidden="true"></i>
            Meet Salvius
        </a>
    </li>
    <li>
        <a href="#software">
            <i class="fa-solid fa-code" aria-hidden="true"></i>
            Software
        </a>
    </li>
    <li>
        <a href="#engineering">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
            Engineering
        </a>
    </li>
    <li>
        <a href="#story">
            <i class="fa-solid fa-rocket" aria-hidden="true"></i>
            Story
        </a>
    </li>
    <li>
        <a href="#sponsors">
            <i class="fa-solid fa-ship" aria-hidden="true"></i>
            Sponsors
        </a>
    </li>
</ul>

