<div id="specificationCarousel">
    <div class="col-xs-3 color-darkgray">
        <a href="/hands/">
            <div class="item">
                <div class="image">
                    <img src="/images/topics/hands.jpg" class="zoom" alt="Robot hands"/>
                </div>
                <div class="caption">
                    <h3 class="text-center">Hands</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 color-rust">
        <a href="/neck/">
            <div class="item">
                <div class="image">
                    <img src="/images/topics/neck.jpg" class="zoom" alt="Robot neck joint"/>
                </div>
                <div class="caption">
                    <h3 class="text-center">Neck</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-3 color-navy">
        <div class="item">
            <div class="image">
                <img src="/images/topics/hardware.jpg" class="zoom" alt="Robot hardware"/>
            </div>
            <div class="caption">
                <h3 class="text-center">Hardware</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 color-forest js-show-more">
        <div class="item">
            <div class="image">
                <img src="/images/topics/chicken.jpg" class="zoom" alt="Robot with chicken"/>
            </div>
            <div class="caption">
                <h3 class="text-center">More...</h3>
            </div>
        </div>
    </div>

    <div class="row-more js-row-more">
        <div class="col-xs-3 color-forest">
            <a href="/arms/">
                <div class="item">
                    <div class="image">
                        <img src="/images/topics/arms.png" class="zoom" alt="Robot arms"/>
                    </div>
                    <div class="caption">
                        <h3 class="text-center">Arms</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-3 color-soil">
            <a href="/torso/">
                <div class="item">
                    <div class="image">
                        <img src="/images/topics/torso.jpg" class="zoom" alt="Robot torso"/>
                    </div>
                    <div class="caption">
                        <h3 class="text-center">Torso</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-3 color-prestige">
            <a href="/legs/">
                <div class="item">
                    <div class="image">
                        <img src="/images/topics/legs.jpg" class="zoom" alt="Biped robot legs"/>
                    </div>
                    <div class="caption">
                        <h3 class="text-center">Legs</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-3 color-darkgray">
            <a href="/head/">
                <div class="item">
                    <div class="image">
                        <img src="/images/topics/head.jpg" class="zoom" alt="Salvius robot head"/>
                    </div>
                    <div class="caption">
                        <h3 class="text-center">Head</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
