<div class="navbar navbar-inverse" id="nav" role="navigation">
   <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/" aria-label="Salvius home">Salvius</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">

            {% include nav_left.html %}
            {% include nav_right.html %}
        </div>
    </div> 
</div>
