<h3 class="text-center">
    Share to increase Salvius's social power level!
</h3>

<div class="progress">
    <div class="progress-bar progress-bar-primary progress-bar-twitter"></div>
    <div class="progress-bar progress-bar-info progress-bar-facebook"></div>
    <div class="progress-bar progress-bar-danger progress-bar-pinterest"></div>
</div>

<div class="share text-center"></div>

<h3 class="text-center">Power level: <span class="total">0</span></h3>

<div class="text-center"><b>Connect with project leaders</b></div>
<div class="text-center" role="toolbar">
    <a class="btn btn-primary" href="https://www.youtube.com/user/salviusrobot/videos" target="_blank">
        <i class="fa fa-3x fa-youtube"></i>
    </a>
    <a class="btn btn-primary" href="https://plus.google.com/u/0/+GuntherCox/" target="_blank">
        <i class="fa fa-3x fa-google-plus"></i>
    </a>
    <a class="btn btn-primary" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fa fa-3x fa-twitter"></i>
    </a>
</div>

<br/>
