<br/>

<div class="panel panel-default hidden-print">
    <ul class="list-group">
        <li class="list-group-item">
            <p>
                <strong>Author bio:</strong>
                My name is Gunther Cox. I'm a student, programmer, entrepreneur and robotic engineer.
                I created this guide as a part of a series which demonstrates how to create
                humanoid robots using recycled parts.

                My goal is to make it possible for schools and other organizations that have a limited
                budgets to using my designs to build humanoid robots using recycled materials.
            </p>
        </li>
    </ul>
    <div class="panel-body">
        <h2>
            <strong>Follow me on</strong>
            <a href="https://plus.google.com/u/0/{{ site.google_username }}"><span class="fa fa-twitter"></span></a>
            <a><span class="fa fa-facebook-square"></span></a>
            <a><span class="fa fa-google-plus-square"></span></a>
            <a href="https://github.com/{{ site.github_username }}"><span class="fa fa-github"></span></a>
            <strong>or share this page</strong>
            <input type="text" class="form-control page-link">
        </h2>
    </div>
</div>
