.fa-large {
    font-size: 110px!important;
}

.text-white,
.text-white:hover {
    color: white;
}

.inset-shadow {
    -webkit-box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.4);
    padding-bottom: 30px;
}

.text-shadow {
    text-shadow: 1px 1px #222144;
}

.animate {
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

.green-glow {
    text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #8F7, 0 0 0.2em #8F7;
}

.blue-glow {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

.row:hover .yellow-glow.animate {
    text-shadow: 0 0 0.2em #FFFD77, 0 0 0.2em #F87, 0 0 0.2em #8EFF77;
}

.white-outline {
    color: white;
    font-weight: 800;
    border: 2px solid white;
}

.white-outline a,
.white-outline a:hover,
a.white-outline,
a.white-outline:hover {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid white;
}

.color-forest.white-outline a:hover,
.color-forest.white-outline.btn:hover {
    background: #297E56;
}

.color-darkorange.white-outline a:hover,
.color-darkorange.white-outline.btn:hover {
    background: #9B200C;
}

.color-putty.white-outline a:hover,
.color-putty.white-outline.btn:hover {
    background: #4F4848;
}

.color-prestige.white-outline a:hover,
.color-prestige.white-outline.btn:hover {
    background: #421222;
}

.color-white {
    background: white;
    color: black;
}

.color-soil {
    background: #5C421A;
    color: white;
}

.color-darkgray {
    background: #231f20;
    color: white;
}

.color-prestige {
    background: #5C1A30;
    color: white;
}

.color-putty {
    background: #393333;
    color: white;
}

.color-softgreen {
    background: #78A55A;
}

.color-forest {
    background: #1A5C3D;
    color: white;
}

.color-orange {
    background: #ea671f;
    color: white;
}

.color-orange.white-outline a:hover,
.color-orange.white-outline.btn:hover {
    background: #FF803B;
}

.color-darkorange {
    background: #C02911;
    color: white;
}

.color-rust {
    background: #87210A;
    color: white;
}

.color-navy {
    background: #232937;
    color: white;
}

/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    border: 3px solid #E1DDDD;
    background: white;
    box-shadow: 2px 2px 2px 0px #000;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #737373;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px 0px;
    color: #fff;
    font-size: 16px;
    text-shadow: #000 0px 1px 0px;
    background-image: linear-gradient(#3A3A3A, #222);

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover {
        background: #737373;
    }
}

.jumbotron p {
    color: #222;
}

.panel-heading {
    overflow: hidden;
}

.well {
    background: #ddd;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* Keep button images within the viewport */
button img {
    max-width: 100%;
}

ul.no-space {
    margin: 0px;
    padding: 0px;
    height: 435px;
    overflow: hidden;
}

ul.no-space img {
    width: 100%;
}

.parallax-window {
    min-height: 720px;
    background: transparent;
    padding: 200px 0px!important;
}

picture, picture * {
    width: 100%;
    height: auto;
}

body {
    color: #777777;
    font-family: "Lato","Helvetica Neue","Arial","Helvetica",sans-serif;
    font-size: 16px;
    line-height: 19.5px;
}

/* PAGES */

.salvius-spec h2,
.salvius-spec img {
    display: none;
}

.post {
    font-size: 16px;

    img {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.text-success, .text-success:hover {
  color: #77b300;
}

h1, .h1 {
  font-size: 56px;
}

.table {
    color: #777777;
}

.page-header {
    border-bottom: 1px solid #fff;
}

.row-banner {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

/* Store */

.icon-cc {
    height: 16px;
    width: auto;
    display: inline;
}

.blueprint-background {
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.blueprint-background .thumbnail {
  background: #269;
  font-family: monospace;
  border: 2px solid #fff;
}

.blueprint-background .thumbnail .caption {
  color: #eee;
}

.blueprint-background .page-header {
  color: #fff;
  font-family: monospace;
  padding-left: 10px;
}


/* Profile Cards */

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
}

.card.hovercard .cardheader {
    /*background: url("http://lorempixel.com/850/280/nature/4/");*/
    /*background-size: cover;*/
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #eee;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/* Specification Carousel */

#specificationCarousel a,
#specificationCarousel a:hover {
    color: white;
    text-decoration: none;
}

#specificationCarousel .item {
    padding-top: 15px;
}

#specificationCarousel .item * {
    padding: 0px;
    margin: 0px;
}

#specificationCarousel .caption {
    padding: 15px;
}

#specificationCarousel .item .image {
    height: 200px;
    overflow: hidden;
}

#specificationCarousel .item .image img {
    width: 130%;
    transition: all .2s ease-in-out;
}

#specificationCarousel .item:hover .image img {
    transform: scale(1.1);
}

#specificationCarousel .row-more {
    height: 0px;
}

#specificationCarousel .row-more .item {
    height: 0px;
    padding-top: 0px;
    display: block;
    overflow-y: hidden;
	transition-property: all;
	transition-duration: .9s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#specificationCarousel .row-more.open .item {
    height: 270px;
    padding-top: 15px;
}
