---
layout: page
permalink: /spec/0.0.1/ 
redirect_from: "/spec/latest/"
---

{% include spec/navigation.html %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 document-readable">

        <div class="page-header">
            <h1>Engineering Specification for the Design of Humanoid Robots</h1>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <strong class="text-muted">Version 0.0.1 (development)</strong>
            </div>
            <div class="col-xs-6 text-right">
                <a href="https://github.com/salvius/salvius.github.io/tree/master/_includes/spec/0.0.1/" class="btn btn-default btn-xs">Edit on GitHub</a>
            </div>
        </div>

        <br/>

        <div class="alert alert-danger">
            <p>
                <strong>Attention!</strong>
                <br/>
                This document contains the latest development version of the
                humanoid robot specification. It contains improvements from
                previous versions but is still likely to change.
            </p>
        </div>

        {% include spec/introduction.html %}

        {% include spec/0.0.0/head.html %}

        {% include spec/0.0.0/neck.html %}

        {% include spec/0.0.0/shoulder.html %}

        {% include spec/0.0.0/elbow.html %}

        {% include spec/0.0.0/wrist.html %}

        {% include spec/0.0.0/fingers.html %}
    </div>
</div>
