---
layout: page
permalink: /spec/0.0.0/ 
---

{% include navigation/spec.html %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 document-readable">

        <div class="page-header">
            <h1>Engineering Specification for the Design of Humanoid Robots</h1>
        </div>

        {% include spec/introduction.html %}

        {% include spec/head.html %}

        {% include spec/neck.html %}

        {% include spec/shoulder.html %}

        {% include spec/elbow.html %}

        {% include spec/wrist.html %}

        {% include spec/fingers.html %}
    </div>
</div>
