---
layout: page
title: Engineering Specification for Humanoid Robots
---

{% include spec/heading.html %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 color-white">

        {% include spec/introduction.html %}

        {% include spec/history.html %}

    </div>
</div>

<div class="row color-putty">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="page-header">
            <h1>Body</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 color-white">
        {% include spec/head.html %}

        {% include spec/neck.html %}

        {% include spec/torso.html %}
    </div>
</div>

<div class="row color-orange">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="page-header">
            <h1>Arms</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 color-white">
        {% include spec/shoulder.html %}

        {% include spec/elbow.html %}

        {% include spec/wrist.html %}

        {% include spec/finger.html %}
    </div>
</div>

<div class="row color-rust">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="page-header">
            <h1>Legs</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 color-white">

        {% include spec/hip.html %}
    </div>
</div>
