---
layout: page
permalink: /spec/salvius/ 
---

{% include navigation/spec.html %}

<div class="row">
    <div class="col-sm-12 col-sm-offset-0 document-readable salvius-spec">

        <div class="page-header">
            <h1>Humanoid Robot Design Specification Implementation Status for Salvius</h1>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Salvius</th>
                    <th class="text-center">Humanoid Spec.</th>
                </tr>
            <thead>
            <tbody>
                <tr>
                    <td colspan="2" class="text-center">
                        Head
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">
                            {% include spec/head.html %}
                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/head.html %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Neck
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">

                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/neck.html %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Shoulder
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">

                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/shoulder.html %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Elbow
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">

                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/elbow.html %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Wrist
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">
                            {% include spec/wrist.html %}
                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/wrist.html %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Fingers
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="well">

                        </div>
                    </td>
                    <td>
                        <div class="well">
                            {% include spec/fingers.html %}
                        </div>
                    </td>
                </tr>
                <!--tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr-->
            <tbody>
        </table>
    </div>
</div>
