---
layout: page
title: "Salvius Robot Blog"
---

<div class="container color-white">
    {% for page in site.posts %}

        <div class="container color-white">

            {% include blog_title.html %}

            <div class="row post">
                <div class="col-sm-2">

                    {% include blog_date.html %}

                </div>
                <div class="col-sm-8">
                    
                    {{ page.content }}

                </div>
            </div>

        </div>

    {% endfor %}
</div>
