<h2>Head</h2>

<p>
There is minimal requirements dictating the function of a robot's head for a humanoid design. Due to the lack of moving parts, the only specification that the head must obey is the size of its proportions in relation the the rest of the body.
</p>

<p class="alert alert-warning">
The calculations for determining the optimal size ratio of the head and position of the eyes are still being determined.
<p>

<p>
It is recommended that the robot's head house hardware for visual input and audio output.
This allows for optimal control over the direction of visual and audio data.
</p>
