<div class="row color-putty">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
        <a href="/spec/salvius/" class="btn btn-default color-orange white-outline">
            Submit an RFC
        </a>
    </div>
    <div class="col-sm-4 text-right">
        <a href="/spec/salvius/" class="btn btn-default color-orange white-outline">
            Salvius Implementation Status
        </a>
    </div>

    <div class="col-xs-12">
        <br/><!-- SPACER -->
    </div>
</div>
