<div class="row">
    <div class="col-xs-12">
        <br/><!-- SPACER -->
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-default disabled">Spec. version</a>
                <a href="/spec/0.0.0/" class="btn btn-default">0.0.0</a>
                <!--a href="/spec/0.0.1/" class="btn btn-default">0.0.1</a-->

                <a href="/spec/latest/" class="btn btn-default">0.0.1 (latest)</a>
            </div>
            <div class="btn-group pull-right">
                <a href="/spec/salvius/" class="btn btn-default">
                    Salvius Implementation Status
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <br/><!-- SPACER -->
    </div>
</div>
