<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navigation.html %}

        <div class="container-fluid {{ page.color_class }}">
            <div class="row" style="padding: 20px 0px">
                <div class="col-xs-4">
                    {% if page.previous %}
                    <a class="btn btn-default white-outline {{ page.color_class }}" href="{{ page.previous.url }}">Previous</a>
                    {% endif %}
                </div>
                <div class="col-xs-4 text-center">
                    {% if page.index_url %}
                    <a class="btn btn-default white-outline {{ page.color_class }}" href="{{ page.index_url }}">Main</a>
                    {% endif %}
                </div>
                <div class="col-xs-4 text-right">
                    {% if page.next %}
                    <a class="btn btn-default white-outline {{ page.color_class }}" href="{{ page.next.url }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container color-white post">

            <div class="row">
                <div class="col-sm-12">

                    <h1>{{ page.title }}</h1>
                    <hr/>

                    {{ content }}

                </div>
            </div>

        </div>

        {% include footer.html %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3019790405701706",
            enable_page_level_ads: true
          });
        </script>
    </body>
</html>
