<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}"/>
        <meta name="author" content="Gunther Cox">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="/css/reveal/reveal.css">

        {% for css_name in page.extra_css %}
            <link rel="stylesheet" href="{{ css_name }}">
        {% endfor %}
    </head>
    <body>

        {{ content }}

        <script src="/js/reveal/head.min.js"></script>
        <script src="/js/reveal/reveal.js"></script>
        <script src="/js/reveal/main.js"></script>

        {% for js_name in page.extra_js %}
            <script src="{{ js_name }}"></script>
        {% endfor %}
    </body>
</html>
