<!doctype html>
<html lang="en">
    {% include head.html %}

    <body style="background: url({{ page.background }})">
        {% include navigation.html %}
        <div class="container-fluid">

            <div class="row">
                <br/>
                <div class="col-sm-12">
                    <a href="/store/" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i>
                        Back to Robot Store
                    </a>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="thumbnail">
                        <img src="{{ page.image }}" alt="Robotic head kit">
                        <div class="caption">
                            <img src="/images/logos/cc.svg" class="icon-cc" alt="Creative Commons">
                                image <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="new">CC BY-NC-SA 3.0</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-center">
                                <h1>{{ page.title }}</h1>
                                <h2>${{ page.price }}</h2>
                                <h4>+ ${{ page.shipping }} shipping</h4>
                                <button type="button" class="btn btn-default">Add to Cart</button>
                            </div>                    
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-center">0</td>
                                <td class="text-center">Out of stock</td>
                            </tr>
                        </table>
                        <div class="panel-body">
                            <p class="text-center">
                                <em>Incoming stock values are estimates,
                                and subject to change without warning.</em>
                            </p>
                        </div>
                        <div class="panel-footer text-center">
                            <div class="btn-toolbar">
                                <button class="btn btn-danger btn-sm">
                                    <i class="fa fa-google-plus"></i>
                                </button>
                                <button class="btn btn-info btn-sm">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn btn-warning btn-sm">
                                    <i class="fa fa-pinterest"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ content }}

        </div>
    </body>
</html>
