---
layout: page
---

<div class="row slide-header">
    <div class="col-xs-12">
        <span class="custom-header">
            {{ page.title }}
            <a href="{{ site.baseurl }}/guide/" class="contents pull-right"><i class="fa fa-navicon"></i></a>
            <a class="print pull-right"><span class="fa fa-print"></span></a>
        </span>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            {{ content }}
        </div>
    </div>
</div>
