<h2>Neck</h2>

<p>
The neck must allow for a minimum of 45 degrees of lateral and longitudinal rotation. To accomplish this, the neck will be constructed as a <a href="http://en.wikipedia.org/wiki/Stewart_platform">Stewart platform</a>. A Stewart platform incorporates six prismatic actuators  mounted in pairs to the base of the mechanism, crossing over to three mounting points on a top plate.
</p>

<p>
Devices placed on the top plate can be moved in the six degrees of freedom in which it is possible for a freely-suspended body to move. These are the three linear movements x, y, z (lateral, longitudinal and vertical), and the three rotations pitch, roll, and yaw. The term "six-axis" platform is also used.
</p>

<p>
The robot's neck must allow the head to rotate a minimum of 180 degrees in either direction.
This will be accomplished by a motor attached to the top of the Stewart platform.
</p>

<img src="/images/spec/neck.svg">
